<h1>Lista de usuarios</h1>

<h3 id="messageFromServer"></h3>

<input type="text" name="" id="chat">
<h4 id="messages"></h4>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>