<h2>Index</h2>

<label for="">Nombre</label>
<input type="text" id="name">

<label for="">Correo</label>
<input type="email" id="email">

<button id="getCookies">Obtener Cookies</button>
<button id="setCookie">Crear cookie</button>

<script src="/js/index.js"></script>