<h2>Profile</h2>

<label for="">Nombre</label>
<p>{{user.first_name}}</p>
<br>
<br>

<label for="">Apellido</label>
<p>{{user.last_name}}</p>
<br>
<br>

<label for="">Correo</label>
<p>{{user.email}}</p>
<br>
<br>
<br>
<br>
<a href="/auth/logout">Cerrar Sesión</a>